.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.route-select {
  float: right;
  height: 30px;
  margin-bottom: 10px;
}

.route-display {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.container-width {
  width: 90%;
  margin-left: 5%;
}

.table {
  font-size: 14px;
}

.slider {
  width: 100%;
  height: 100%;
}

.slide-container {
  border: 1px solid black;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.stocks-panel {
  border: 1px solid black;
  padding: 10px;
}
